<%=breadcrumbs [{:name => 'Home',:path => '/'},{:name => 'Graffitis', :path => '/graphium/graffitis'}]%>

<table class="highlight">
  <thead>
    <tr>
      <th>City</th>
      <th>State</th>
      <th>Lat/Lng</th>
      <th>Country</th>
      <th>Address</th>
      <th>See Image</th>
    </tr>
  </thead>

  <tbody>
    <% @graphium_graffitis.each do |graphium_graffiti| %>
      <tr>
        <td><%= graphium_graffiti.city %></td>
        <td><%= graphium_graffiti.state %></td>
        <td><%= graphium_graffiti.lat %>/<%= graphium_graffiti.lng %></td>
        <td><%= graphium_graffiti.country %></td>
        <td><%= graphium_graffiti.address %></td>
        <td><i class="material-icons" style='cursor:pointer' onclick="window.open( 'https://maps.googleapis.com/maps/api/streetview?size=600x300&location=<%= graphium_graffiti.lat %>,<%= graphium_graffiti.lng %>&heading=<%= graphium_graffiti.heading %>&pitch=<%= graphium_graffiti.pitch %>&key=AIzaSyB6_XPVntnTJHG9jN9OrO11ou8GEV77qOM', '_blank')">open_in_new</i></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<a class="btn-floating btn-large waves-effect waves-light" onclick="location.href='/graphium/graffitis/map'" style='position: fixed; bottom: 20px; right: 100px;'><i class="material-icons">map</i></a>
