<p id="notice"><%= notice %></p>

<p>
  <strong>City:</strong>
  <%= @graphium_graffiti.city %>
</p>

<p>
  <strong>State:</strong>
  <%= @graphium_graffiti.state %>
</p>

<p>
  <strong>Lat:</strong>
  <%= @graphium_graffiti.lat %>
</p>

<p>
  <strong>Lng:</strong>
  <%= @graphium_graffiti.lng %>
</p>

<p>
  <strong>Country:</strong>
  <%= @graphium_graffiti.country %>
</p>

<p>
  <strong>Pitch:</strong>
  <%= @graphium_graffiti.pitch %>
</p>

<p>
  <strong>Heading:</strong>
  <%= @graphium_graffiti.heading %>
</p>

<p>
  <strong>Address:</strong>
  <%= @graphium_graffiti.address %>
</p>

<%= link_to 'Edit', edit_graphium_graffiti_path(@graphium_graffiti) %> |
<%= link_to 'Back', graphium_graffitis_path %>
